@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSans(FaNum)_Light.ttf') format('truetype');
}


body {
    font-family: IRANSans, sans-serif;
    background-color: #101413;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #101413;
    /*padding: 20px;*/
    max-width: 400px; /* Adjust the maximum width as needed */
    text-align: right;
    position: relative; /* Set container to relative positioning */
}

.logo {
    width: 100%;
    height: 50%;
    /* Replace with your logo image */
    background-image: url('../img/logo.jpg');
    /*background-color: #ffffff;*/
    background-size: cover;
    position: absolute; /* Set logo to absolute positioning */
    top: 30%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the logo perfectly */
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input {
    box-sizing: border-box; /* Include padding and border in the element's total width */
    background-color: #101413;
    height: 50px;
    font-family: IRANSans, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    font-size: 12px;
    color: cornsilk;
    direction: ltr;
    display: block;
    padding-right: 40px !important; /* Adjust the value based on your icon size and spacing */
    background-image: url('../img/phone.png'); /* Replace with the path to your icon */
    background-size: 20px 20px; /* Set the size of your icon */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Adjust the right value to move the icon left */
}

input::placeholder {
    text-align: right; /* Align the placeholder text to the right */
}

.btn {
    font-family: IRANSans, sans-serif;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Make the button a block element */
    width: 100%; /* Set the button's width to 100% */

}

.span {
    text-align: right !important; /* Align text to the right */
    color: #ff7a74;
    padding-right: 12px;
    font-size: 10px;
}

.label {
    font-size: 13px;
}

/* Move the h1 element down */
.titleTag {
    margin-top: 370px; /* Adjust this value to move it down further */
    text-align: right; /* Align text to the right */
    color: cornsilk;
    margin-bottom: 0;
}

.social-img {
    padding: 15px;
    width: 20px;
    height: 20px;
}

.social-links {
    text-align: center; /* Align text to the center */
}

/* Responsive Styles for Screens Smaller than 768px */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .logo {
        /*width: 80px;*/
        /*height: 80px;*/
    }
    /* Additional responsive CSS rules for smaller screens */
}